@mixin marge{
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

@mixin btn_carousel{
    height: fit-content;
}

@mixin mobile_only{
    @media screen and (max-width: $mobile){
        @content;
    }
}
